<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KWNZPVBM" height="0" width="0"
    style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      D. Voorhees
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {% for page in site.pages %} {% unless page.url == "/" or page.url
        contains "all_content.json" %}
        <li class="nav-item">
          <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        </li>
        {% endunless %} {% endfor %}
        <button id="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>
      </ul>
    </div>
  </div>
</nav>